@media (max-width: 576px)
{
	a::after
	{
		<button type="button" class="btn btn-link"></button>
	}
}
.nav
{
	outline: 5px solid #F2F2F2;
}
body 
{
	background-color: #A2FEEE;
	font-size: 18px;
	margin: 12px;
}