$page_color: #A2FEEE;
$nav_color: #CCCED1;
$p_nav_color: #7ea8a6;
$header_color: #b6d337;
$nav_border: 5px solid #F2F2F2;

@media (max-width: 576px)
{
	body
	{
		font-family: Arial, sans-serif;
	}
	a::before
	{
		content: "->";
	}
}
@media (min-width: 577px)
{
	body
	{
		font-family: "Times New Roman", Times, serif;
	}
}
*
{
	margin: 2px;
	padding: 2px;
}
body 
{
	background-color: $page_color;
	font-size: 18px;
}
div
{
	.section
	{
		color: $header_color;
	}
	nav, table
	{
		border-radius: 15px;
		border: $nav_border;
	}
	#site-nav
	{
		background-color: $nav_color;
	}
	#page-nav
	{
		background-color: $p_nav_color;
	}
}
